<h1><%= t("helpers.titles.list", model: Opening.model_name.human.pluralize.mb_chars) %></h1>

<%= link_to icon('fa-solid','plus'), new_opening_path, class: 'btn btn-secondary btn-xs' %>

<%= content_tag :div, data: { controller: 'calendar' } do %>
    <%= content_tag :div, 'data-calendar-target': 'calendar' do %>
    <% end %>
<% end %>