<div class="btn-group">
  <%= link_to icon('fa-solid','pencil'), edit_opening_path(@opening), class: "btn btn-info" %>
  <%= link_to icon('fa-solid','list'), openings_path, class: "btn btn-secondary" %>
  <%= button_to icon('fa-solid','times'), @opening, method: :delete, class: "btn btn-danger" %>
</div>

<%= render @opening %>