<div class="btn-group">
  <%= link_to icon('fa-solid','pencil'), edit_type_path(@type), class: "btn btn-info" %>
  <%= link_to icon('fa-solid','list'), types_path, class: "btn btn-secondary" %>
  <%= button_to icon('fa-solid','times'), @type, method: :delete, class: "btn btn-danger" %>
</div>

<%= render @type %>