<h1>Menu</h1>
<div id="dishes" class="row row-cols-1 row-cols-md-4 g-4">
  <% @types.each do |type| %>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <%= render type %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<h2>Ouverture de la semaine</h2>
<table class="table table-hover">
  <tbody>
  <tr>
    <% foo = nil 
      @openings.each do |opening| %>
        <% if foo == getDate(opening.from_at) %>
          <td><%= link_to to_time(opening.from_at) + '-' + to_time(opening.to_at), new_order_path(opening: opening.id), class: "text-decoration-none" %></td>
        <% else %>
          <% if foo != nil%>
            </tr><tr>
          <% end %>
          <% foo = getDate(opening.from_at) %>
          <td><%= getDate(opening.from_at) %></td>
          <td><%= link_to to_time(opening.from_at) + '-' + to_time(opening.to_at), new_order_path(opening: opening.id), class: "text-decoration-none" %></td> 
        <% end %>
    <% end %>
    </tr>
  </tbody>
</table>