<div id="<%= dom_id order %>">
  <p>
    <strong>Opening:</strong>
    <%= order.opening_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= order.paid %>
  </p>

</div>
