<h1><%= t("helpers.titles.list", model: Wallet.model_name.human.pluralize.mb_chars) %></h1>

<%= link_to icon('fa-solid','plus'), new_wallet_path, class: 'btn btn-secondary btn-xs' %>

<div id="wallets">
  <% @wallets.each do |wallet| %>
    <%= render wallet %>
    <p>
      <%= link_to "Show this wallet", wallet %>
    </p>
  <% end %>
</div>

