<h1><%= t("helpers.titles.new", model: Dish.model_name.human.mb_chars) %></h1>

<%= render "form", dish: @dish %>

<br>

<div class="btn-group">
  <%= link_to icon('fa-solid','list'), dishes_path, class: "btn btn-secondary" %>
</div>
