<div class="btn-group">
  <%= link_to icon('fa-solid','pencil'), edit_dish_path(@dish), class: "btn btn-info" %>
  <%= link_to icon('fa-solid','list'), dishes_path, class: "btn btn-secondary" %>
  <%= button_to icon('fa-solid','times'), @dish, method: :delete, class: "btn btn-danger" %>
</div>

<%= render @dish %>